/*!
Theme Name: The Fritz Theme
Theme URI: http://jonnyfritz.com
Author: Justin Maurer
Author URI: http://360zen.com
Description: Custom theme: The Fritz Theme, developed by Justin Maurer
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: the-fritz-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

The Fritz Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "ff-tisa-web-pro";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "hwt-american-solid", serif; }
  h1 a, a h1, h2 a, a h2, h3 a, a h3, h4 a, a h4, h5 a, a h5, h6 a, a h6 {
    text-decoration: none;
    color: #404040; }
    h1 a:hover, a h1:hover, h2 a:hover, a h2:hover, h3 a:hover, a h3:hover, h4 a:hover, a h4:hover, h5 a:hover, a h5:hover, h6 a:hover, a h6:hover {
      text-decoration: none; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

.breakpoint-small article .entry-content {
  word-break: normal; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  background: #eaeaea;
  color: #404040;
  border: 0;
  border-left: 5px solid #7accc8;
  border-radius: 0;
  font-family: "ff-tisa-web-pro", sans-serif;
  letter-spacing: 1px;
  min-width: 13em; }
  .ginput_container_name input[type="text"], .ginput_container_name
  input[type="email"], .ginput_container_name
  input[type="url"], .ginput_container_name
  input[type="password"], .ginput_container_name
  input[type="search"], .ginput_container_name
  input[type="number"], .ginput_container_name
  input[type="tel"], .ginput_container_name
  input[type="range"], .ginput_container_name
  input[type="date"], .ginput_container_name
  input[type="month"], .ginput_container_name
  input[type="week"], .ginput_container_name
  input[type="time"], .ginput_container_name
  input[type="datetime"], .ginput_container_name
  input[type="datetime-local"], .ginput_container_name
  input[type="color"], .ginput_container_name
  textarea {
    min-width: 10em; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #404040; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #666; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #666; }

select {
  border: 1px solid #ccc; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

.gform_title {
  display: none; }

.gform_wrapper .top_label li.gfield {
  position: relative;
  margin-bottom: 3rem; }
  .gform_wrapper .top_label li.gfield.product_description {
    margin-bottom: 1rem; }
  .gform_wrapper .top_label li.gfield.gfield_error {
    background: transparent;
    border: 0; }
  .gform_wrapper .top_label li.gfield.field_description_above .gfield_description, .gform_wrapper .top_label li.gfield .gfield_description, .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required .div.gfield_description {
    word-break: normal;
    background: #ddd;
    padding: 0.5em 1em;
    color: #605ca8;
    display: none;
    z-index: 25; }
    .breakpoint-medium-up .gform_wrapper .top_label li.gfield.field_description_above .gfield_description, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gfield_description, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required .div.gfield_description {
      max-width: 50%;
      left: 50%;
      margin-left: 5em;
      position: absolute;
      border-right: 5px solid #7accc8; }
      .breakpoint-medium-up .gform_wrapper .top_label li.gfield.field_description_above .gfield_description.validation_message, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gfield_description.validation_message, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required .div.gfield_description.validation_message {
        position: relative;
        left: auto;
        margin-left: 1em;
        width: auto;
        max-width: none;
        color: #6B0505;
        background: transparent;
        border: 0; }
        .breakpoint-medium-up .gform_wrapper .top_label li.gfield.field_description_above .gfield_description.validation_message:before, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gfield_description.validation_message:before, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required .div.gfield_description.validation_message:before {
          content: '';
          border: 0; }
      .breakpoint-medium-up .gform_wrapper .top_label li.gfield.field_description_above .gfield_description:before, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gfield_description:before, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required .div.gfield_description:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: 1em solid #605ca8;
        position: absolute;
        left: -1em;
        top: 0; }
  .gform_wrapper .top_label li.gfield .tooltip-trigger {
    position: absolute;
    font-weight: normal;
    margin-left: 0.5em;
    font-family: 'FontAwesome';
    left: 50%;
    top: 1.6em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    color: #605ca8;
    text-decoration: none;
    font-size: 1.5em; }
    .breakpoint-small .gform_wrapper .top_label li.gfield .tooltip-trigger {
      position: relative;
      left: auto;
      top: auto; }
  .gform_wrapper .top_label li.gfield.tooltipped .gfield_description {
    display: block; }
  .breakpoint-medium-up .gform_wrapper .top_label li.gfield .ginput_container, .breakpoint-medium-up .gform_wrapper .top_label li.gfield label, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required div.ginput_container, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gform_wrapper li.gfield_html {
    max-width: 50%; }
  .breakpoint-medium-up .gform_wrapper .top_label li.gfield .ginput_container label, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .ginput_container input, .breakpoint-medium-up .gform_wrapper .top_label li.gfield label label, .breakpoint-medium-up .gform_wrapper .top_label li.gfield label input, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required div.ginput_container label, .breakpoint-medium-up .gform_wrapper .top_label li.gfield.gfield_error.gfield_contains_required div.ginput_container input, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gform_wrapper li.gfield_html label, .breakpoint-medium-up .gform_wrapper .top_label li.gfield .gform_wrapper li.gfield_html input {
    max-width: 100%; }
  .gform_wrapper .top_label li.gfield .ginput_complex .ginput_left, .gform_wrapper .top_label li.gfield .ginput_complex .ginput_right {
    width: 49%;
    max-width: 50%; }
    .gform_wrapper .top_label li.gfield .ginput_complex .ginput_left input, .gform_wrapper .top_label li.gfield .ginput_complex .ginput_right input {
      min-width: 0;
      max-width: 100%; }
  .gform_wrapper .top_label li.gfield .gfield_select, .gform_wrapper .top_label li.gfield .ginput_container select, .gform_wrapper .top_label li.gfield select, .gform_wrapper .top_label li.gfield .ginput_container select.gfield_select.medium {
    border-radius: 0;
    border: 0 solid #ccc;
    width: 97% !important;
    border-left: 5px solid #7accc8;
    padding: 5px 30px 5px 5px;
    -webkit-border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 1.5em;
    appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAAM1BMVEUAAAB6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMh6zMgJGSrpAAAAEHRSTlMAAQIVICQoQ36CmqOw4OL9TIhH8wAAAFRJREFUOE/tysEWQCAABMANISL//7UOnmfVVjcuzXmA5jvD6pW5o7Mf2kTH6RJ6OmaRZQRTKSoqJSVNosRJlnfKFE7Z8qRCuVOxXKlSAOM2WynNj06FbAxScPp97QAAAABJRU5ErkJggg==) no-repeat #eaeaea;
    background-size: contain;
    background-position: right center;
    /*target Internet Explorer 9 and Internet Explorer 10:*/ }
    @media screen and (min-width: 0\0) {
      .gform_wrapper .top_label li.gfield .gfield_select, .gform_wrapper .top_label li.gfield .ginput_container select, .gform_wrapper .top_label li.gfield select, .gform_wrapper .top_label li.gfield .ginput_container select.gfield_select.medium {
        background: none;
        padding: 5px; } }

.gform_wrapper .gform_button {
  background: #7accc8;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  padding: 0.5em 2em;
  line-height: 2;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  display: block;
  width: 100%; }
  .main-navigation ul {
    list-style: none; }
    .main-navigation ul ul ul {
      left: -999em;
      top: 0; }
    .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
      left: 100%; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase; }
    .main-navigation li:hover > a, .main-navigation li.focus > a {
      background: #ddd; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

body {
  background: #7accc8 url("img/backgrounds/brat-bratlands.jpg") no-repeat fixed;
  background-size: cover;
  font-family: "ff-tisa-web-pro", sans-serif; }
  body #mobile-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: bottom center;
    z-index: -1; }

body.page-id-38 {
  background: #7accc8 url("img/backgrounds/whut--resized.jpg") no-repeat fixed;
  background-position: left bottom;
  background-size: cover; }
  .breakpoint-small body.page-id-38 {
    background: #7accc8 url("img/backgrounds/whut--mobile.jpg") no-repeat fixed; }

#hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  font-size: 2rem; }
  .home #hamburger {
    display: none; }
  #hamburger:link, #hamburger:visited {
    color: #fff;
    text-shadow: black 1px 1px 1px; }
  .breakpoint-medium-up #hamburger {
    display: none; }

#page {
  margin-top: 90%;
  background: #fff;
  overflow: hidden; }
  .home #page {
    margin-top: auto; }

#masthead {
  transition: left .5s;
  text-align: right;
  background: #eee; }
  #masthead a, #masthead a:visited {
    color: #404040; }
  .breakpoint-small #masthead {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    position: fixed;
    left: -100%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    z-index: 50; }
    .breakpoint-small #masthead.toggled {
      left: 0;
      overflow-y: auto; }
  .breakpoint-medium-up #masthead {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-bottom: 9999px;
    margin-bottom: -9999px; }
    .breakpoint-medium-up #masthead #site-navigation {
      margin-top: 1.3em; }
  #masthead .site-title {
    margin-bottom: 0; }
  #masthead form label {
    display: none; }
  #masthead form input {
    margin-top: 10px; }
  #masthead form input[type="submit"] {
    display: none; }
  #masthead form #mce-success-response {
    font-family: "ff-tisa-web-pro";
    font-style: italic;
    color: green; }
  #masthead form #mce-error-response {
    font-family: "ff-tisa-web-pro";
    font-style: italic;
    color: #6B0505; }
  #masthead #header-social a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    padding-left: 1.42857%;
    padding-right: 1.42857%;
    float: right; }
  #masthead #header-social i {
    font-size: 1.6rem;
    margin: 0 5px;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    text-align: center; }
  #masthead #header-social a:hover i {
    color: white; }
  #masthead #header-social a:hover .fa-facebook {
    background-color: #3B5998; }
  #masthead #header-social a:hover .fa-twitter {
    background-color: #55acee; }
  #masthead #header-social a:hover .fa-tumblr {
    background-color: #35465c; }
  #masthead #header-social a:hover .fa-youtube {
    background-color: #b31217; }
  #masthead #header-social a:hover .fa-instagram {
    background-color: #9b6954; }

#content {
  word-break: normal; }
  .breakpoint-small #content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem; }
    .breakpoint-small #content:after {
      content: " ";
      display: block;
      clear: both; }
  .breakpoint-medium-up #content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

#colophon {
  clear: both;
  margin: 0 auto;
  padding: 1em 0; }
  .breakpoint-medium-up #colophon {
    max-width: 50%;
    margin-left: 33.33%;
    padding-left: 1em; }
  .breakpoint-small #colophon {
    padding: 1em; }
  #colophon .zenlove {
    float: right;
    color: white; }
    #colophon .zenlove:hover {
      color: #eaeaea; }

.page .entry-header {
  margin-bottom: 45px; }

.entry-title, .entry-title a {
  color: #7accc8; }

.entry-title a:hover {
  color: midnightblue; }

blockquote p {
  font-style: italic; }

.breakpoint-small #mc_embed_signup {
  background: #fff; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }
  .gallery figure {
    margin: 0; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
body.home {
  background: url("img/backgrounds/rooftop.jpg") no-repeat center center fixed;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1; }
  body.home #page {
    background: transparent; }
  body.home a {
    text-decoration: none; }
  body.home h1 {
    font-size: 6em;
    font-family: "barbiemediumitalic"; }
    .breakpoint-small body.home h1 {
      font-size: 3em; }
  body.home h2 {
    font-size: 2em;
    font-family: "Madfont Thorns",'Tisa Pro'; }
    .breakpoint-small body.home h2 {
      font-size: 1em; }
  body.home h1, body.home h2, body.home h3 {
    color: #fff; }
  body.home #page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  body.home #content {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    float: none; }
    body.home #content:after {
      content: " ";
      display: block;
      clear: both; }
    .breakpoint-medium-up body.home #content {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .breakpoint-medium-up body.home #content:after {
        content: " ";
        display: block;
        clear: both; }
    body.home #content #primary {
      height: 100%; }
      body.home #content #primary #main {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%; }
        body.home #content #primary #main > a {
          display: flex;
          flex-basis: 50%;
          align-items: center; }
          body.home #content #primary #main > a > div {
            margin: 0 auto; }
            body.home #content #primary #main > a > div h1, body.home #content #primary #main > a > div h2 {
              margin: 0; }
          body.home #content #primary #main > a:hover {
            background: rgba(255, 255, 255, 0.45); }
          body.home #content #primary #main > a .textwrap {
            width: 100%;
            text-align: center; }

/*# sourceMappingURL=style.css.map */
