// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
@import "../../bower_components/susy/sass/susy";

$susy: (
		container: 50em,
		columns: 12,
		gutters: 1/4,
		math: fluid,
		output: float,
		gutter-position: inside,
);

body {
	background: $primary-accent url('img/backgrounds/brat-bratlands.jpg') no-repeat fixed;
	background-size: cover;
	font-family: "ff-tisa-web-pro", sans-serif;
	#mobile-bg {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		background-position: bottom center;
		z-index: -1;
		//.breakpoint-medium-up & {
		//	display:none;
		//}
	}
}
body.page-id-38 {
	background: $primary-accent url('img/backgrounds/whut--resized.jpg') no-repeat fixed;
	background-position: left bottom;
	background-size: cover;
	.breakpoint-small & {
		background: $primary-accent url('img/backgrounds/whut--mobile.jpg') no-repeat fixed;

	}
	//background-size: contain;

}
#hamburger {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 100;
	font-size: 2rem;
	.home & {
		display: none;
	}
	&:link, &:visited {
		color: $white;
		text-shadow: black 1px 1px 1px;
	}
	.breakpoint-medium-up & {
		display: none;
	}
}
#page {
	margin-top: 90%;
	.home & {
		margin-top: auto;
	}
	background: $color__background-body;
	overflow: hidden;
}

#masthead {
	transition: left .5s;
	text-align: right;
	background: $color__background-pre;
	a, a:visited {
		color: $color__text-main;
	}
	.breakpoint-small & {
		@include span(12 of 12);
		position: fixed;
		left: -100%;
		top: 0;
		right:0;
		bottom:0;
		height: 100%;
		background: $color__background-body;
		z-index: 50;

		&.toggled {
			left: 0;
			overflow-y:auto;
		}
	}
	.breakpoint-medium-up & {
		@include span(4 of 12);
		padding-bottom: 9999px;
		margin-bottom: -9999px;
		#site-navigation {
			margin-top: 1.3em;
		}
	}
	.site-title {
		margin-bottom: 0;
	}
	form {
		label {
			display: none;
		}
		input {
			margin-top: 10px;
		}
		input[type="submit"] {
			display: none;
		}
		#mce-success-response {
			font-family: $font__main;
			font-style: italic;
			color: $success-green;
		}
		#mce-error-response {
			font-family: $font__main;
			font-style: italic;
			color: $failure-red;
		}
	}
	#header-social {
		a{
			@include span(1 of 7);
			float: right;
		}
		i {
			font-size: 1.6rem;
			margin: 0 5px;
			padding: 0.5em;
			width: 2em;
			height: 2em;
			text-align: center;
		}
		a:hover {
			i {
				color: white;
			}
			.fa-facebook {
				background-color: $facebook-blue;
			}
			.fa-twitter {
				background-color: $twitter-blue;
			}
			.fa-tumblr {
				background-color: $tumblr-blue;
			}
			.fa-youtube {
				background-color: $youtube-red;
			}
			.fa-instagram {
				background-color: $instagram-brown;
			}
		}
	}
}
#content {
	word-break: normal;
	.breakpoint-small & {
		@include container(100%);
		padding: 0 1rem;

	}
	.breakpoint-medium-up & {
		@include span(6 of 12);
	}
}
#colophon {
	clear: both;
	.breakpoint-medium-up & {
		max-width: 50%;
		margin-left: 33.33%;
		padding-left: 1em;
	}
	margin: 0 auto;
	padding: 1em 0;
	.breakpoint-small & {
		padding: 1em;
	}

	.zenlove {
		float: right;
		color: white;
		&:hover {
			color: #eaeaea;
		}
	}
}
.page .entry-header {
	margin-bottom: 45px;
}
.entry-title, .entry-title a {
	color: $primary-accent;

}
.entry-title a {
	&:hover {
		color: $color__link-hover;
	}
}

blockquote p {
	font-style: italic;

}

.breakpoint-small #mc_embed_signup {
	background: #fff;
}