﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Madfont Thorns";src:url("MADFT___.eot?") format("eot"),url("MADFT___.woff") format("woff"),url("MADFT___.ttf") format("truetype"),url("MADFT___.svg#MadfontThorns") format("svg");font-weight:normal;font-style:normal;}
