body.home {
	background: url("img/backgrounds/rooftop.jpg") no-repeat center center fixed;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	#page {
		background: transparent;
	}
	a {
		text-decoration: none;
	}
	h1 {
		font-size: 6em;
		.breakpoint-small & {
			font-size: 3em;
		}
		font-family: "barbiemediumitalic";

	}
	h2 {
		font-size: 2em;
		.breakpoint-small & {
			font-size: 1em;
		}
		font-family: "Madfont Thorns",'Tisa Pro';

	}
	h1, h2, h3 {
		color: $white;
	}
	#page {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	#content {
		height: 100%;
		width: 100%;
		@include container(100%);
		.breakpoint-medium-up & {
			@include container(100%);
		}
		padding: 0;
		#primary {
			height: 100%;
			#main {
				height: 100%;
				display: flex;
				flex-direction: row;
				.breakpoint-small & {
					//flex-direction: column;
				}
				align-items: stretch;
				width: 100%;
				& > a {
					display: flex;
					flex-basis: 50%;
					align-items: center;
					& > div {
						margin: 0 auto;
						h1, h2 {
							margin: 0;
						}
					}
					&:hover {
						background: rgba(255, 255, 255, 0.45);
					}
					.textwrap {
						width: 100%;
						text-align: center;
					}
				}
			}
		}

		float: none;
	}
	#home-left, #home-right {

	}
	#home-left {

	}
	#home-right {

	}
}