$white: #fff;
$color__background-body: $white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #ddd;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #404040;
$color__text-light: #666;
$color__text-screen: #21759b;
$color__text-input: $color__text-main;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: $color__text-light;

$primary-accent: #7accc8;
$secondary-accent: #605ca8;
$success-green: green;
$failure-red: #6B0505;

$facebook-blue: #3B5998;
$twitter-blue: #55acee;
$tumblr-blue: #35465c;
$youtube-red: #b31217;
$instagram-brown: #9b6954;